<h1>Stocking</h1>

<% StockQuote::Stock.new(api_key: 'sk_f79d5de1372146cd944b76b9331a1680') %>

<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
  <%= submit_tag 'Lookup' %>
<% end %>

<br/>

<% if @stock %>
  <% if @stock == "" %>
    That stock doesnt exitst!
  <% end %>

  <%= @stock.company_name %><br/>
  $<%= @stock.latest_price %><br/>
    <% elsif @nothing %>
     <%= @nothing %>
<% end %>

<% if @error %>
  <%= @error %>
<% end %>